#logo{
	width: 100px; 
	float:left; 
	height:100px; 
	/*background:gray;*/ 
	margin:0px;
}
#Header{
	background-color: orange; 
	width: 1250px; 
	float:left; 
	height:100px; 
	margin:0px;
}
#leftcolumn{
	background-color:gray;
	float: left;
	width: 49%;
	border: 1px solid black;
	margin: 0px;
}
#rightcolumn{
	background-color:gray;
	float: right;
	width: 50%;
	border: 1px solid black;
	margin: 0px;
}
#help{
	width: 300px;
	float:right; 
	height:100px; 
	background:gray;
	margin:0px;
}

