*{
	font-family: Calibri, sans-serif;
	--main-bg-color: rgba(150, 150, 150, .30);
}

.header {
	background-color: white;
	border-bottom: 1px solid black;
	position: sticky;
	position: -webkit-sticky; /* Safari */
	font-size: small;
	top: 0; 
	width: 100%; /* Full width */
	transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}

.phoneicon {
	vertical-align: -10px;
}

#FAQtitle {
 	 margin: auto;
	 color: #806000;
	 font-size: 40px;
	 font-weight: 300;
	 -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

#FAQsubtitle {
	 margin: auto;
	 color: #2F5496;
	 font-size: 25px;
	 font-weight: 330;
	 -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

#FAQbody {
	 font-size: 115%;
	 -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.faqlist a:link{
		color:black;
		text-decoration: none;
}
	
.faqlist a:visited{
	  	color:black;
	  	text-decoration: none;
}
	
.faqlist a:hover{
	  	color:black;
	  	text-decoration: none;
}
.faqlist a:focus{
	  	color:black;
	  	text-decoration: none;
}
.faqlist a:active{
	  	color:black;
	  	text-decoration: none;
}

.faqlist li:nth-child(even){ background-color: var(--main-bg-color); }
.faqlist li{
	font-size: 115%;
	padding: 1.5%;
}

#LeftCol {
	float: left;
	width: 45%;
	height: 100%;
	padding-right:0.5%;
	padding-left: 0.5%;
	-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
			-moz-animation: fadein 5s; /* Firefox < 16 */
			 -ms-animation: fadein 5s; /* Internet Explorer */
				-o-animation: fadein 5s; /* Opera < 12.1 */
					 animation: fadein 5s;
}
#RightCol {
	float: left;
	width: 45%;
	height: 100%;
	padding-right:0.5%;
	padding-left: 0.5%;
	font-family: calibri, sans-serif;
	-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
			-moz-animation: fadein 5s; /* Firefox < 16 */
			 -ms-animation: fadein 5s; /* Internet Explorer */
				-o-animation: fadein 5s; /* Opera < 12.1 */
					 animation: fadein 5s;
}

 #sitemapsubtitle {
	 margin: auto;
	 color: black;
	 font-size: 25px;
	 font-weight: 335;
	 -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

 #sitemapbody {
	 font-size: 115%;
	 color: #2F5496;
	 -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
.sitemaplist a:link{
	color: #2F5496;
	text-decoration: none;
}
	
.sitemaplist a:visited{
	color: #2F5496;
	text-decoration: none;
}
	
.sitemaplist a:hover{
	color: #2F5496;
	text-decoration: none;
}
.sitemaplist a:focus{
	color: #2F5496;
	text-decoration: none;
}
.sitemaplist a:active{
	color: #2F5496;
	text-decoration: none;
}

@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {opacity:0;}
    to {opacity:1;}
}
@-o-keyframes fadein { /* Opera */
    from {opacity:0;}
    to {opacity: 1;}
}

@media only screen and (max-width: 320px) {
	#FAQtitle{
		display: none;
		}
	#FAQsubtitle{
		display: none;
		}
	#FAQbody{
		display: none;
		}
	#LeftCol{
		display: none;
		}
	#RightCol {
		display: none;
		}
}

