*{
	font-family: Calibri, sans-serif;
	--main-bg-color: rgba(150, 150, 150, .30);
	--LCBlue: blue;
}

/* Add in the Divs for the knowledge base template pages (like topic.php) between the two comments here.
We can plug the appropriate div tags straight into the data entry fields on phpmyadmin
----------------------------------------------------------------------------------------------------------*/
#templateTitle {
	margin-left: 20px;
	margin-right: 20px;
	color: #806000;
	font-size: 40px;
	font-weight: 300;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
			-moz-animation: fadein 2s; /* Firefox < 16 */
			 -ms-animation: fadein 2s; /* Internet Explorer */
				-o-animation: fadein 2s; /* Opera < 12.1 */
					 animation: fadein 2s;
}

#templateBody {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 115%;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
			-moz-animation: fadein 2s; /* Firefox < 16 */
			 -ms-animation: fadein 2s; /* Internet Explorer */
				-o-animation: fadein 2s; /* Opera < 12.1 */
					 animation: fadein 2s;
}

.stepsBody {
	border-style: groove;
	border-color: #D6DBDF;
	background-color: #CEDBF3;
	display: inline-block;
	overflow: auto;
}

.imageBody {
	border-style: solid;
	border-color: #808B96;
	border-width: thin;
	display: inline-block;
	overflow: auto;
}

#selfHelpBody {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 30px;
	text-align: center;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
			-moz-animation: fadein 2s; /* Firefox < 16 */
			 -ms-animation: fadein 2s; /* Internet Explorer */
				-o-animation: fadein 2s; /* Opera < 12.1 */
					 animation: fadein 2s;
}

.yesOption {
	border-style: solid;
	border-width: thick;
	border-color: white;
	background-color: #7FB3D5;
	overflow: auto;
	color: white;
	vertical-align: top;
}

.noOption {
	border-style: solid;
	border-width: thick;
	border-color: white;
	background-color: #7FB3D5;
	overflow: auto;
	color: white;
	vertical-align: top;
}

.optionBody {
	width: 100%;
	table-layout: fixed;
	margin-left:auto; 
    margin-right:auto; 
}

.optionBody a:link{
	color: white;
	text-decoration: none;
}

.optionBody a:visited{
	color: white;
	text-decoration: none;
}

.optionBody a:hover{
	color: white;
	text-decoration: none;
}
.optionBody a:focus{
	color: white;
	text-decoration: none;
}
.optionBody a:active{
	color: white;
	text-decoration: none;
}

#hidelink {
	display: none;
	overflow: hidden;
}

/* This marks the end of divs and classes for knwoledge base template pages
----------------------------------------------------------------------------------------------------------*/

.header {
	background-color: white;
	border-bottom: 1px solid black;
	/* position: sticky; */
	/* position: -webkit-sticky; */
	font-size: small;
	top: 0;
	width: 100%; /* Full width */
	transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}

.phoneicon {
	vertical-align: -10px;
}

#body {
	margin: 50px;
}

#FAQtitle {
 	 margin-left: 20px;
	 margin-right: 20px;
	 color: #806000;
	 font-size: 40px;
	 font-weight: 300;
	 -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

#FAQsubtitle {
	 margin:auto;
	 color: #2F5496;
	 font-size: 25px;
	 font-weight: 330;
	 -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

#FAQbody {
	 margin-left: 20px;
	 margin-right: 20px;
	 font-size: 115%;
	 -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.faqlist a:link{
		color:black;
		text-decoration: none;
}

.faqlist a:visited{
	  	color:black;
	  	text-decoration: none;
}

.faqlist a:hover{
	  	color:black;
	  	text-decoration: none;
}
.faqlist a:focus{
	  	color:black;
	  	text-decoration: none;
}
.faqlist a:active{
	  	color:black;
	  	text-decoration: none;
}

.faqlist li:nth-child(even){ background-color: var(--main-bg-color); }
.faqlist li{
	font-size: 115%;
	padding: 1.5%;
}

#LeftCol {
	margin-left: 20px;
	margin-right: 20px;
	float: left;
	width: 45%;
	height: 100%;
	padding-right:0.5%;
	padding-left: 0.5%;
	-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
			-moz-animation: fadein 5s; /* Firefox < 16 */
			 -ms-animation: fadein 5s; /* Internet Explorer */
				-o-animation: fadein 5s; /* Opera < 12.1 */
					 animation: fadein 5s;
}
#RightCol {
	margin-left: 20px;
	margin-right: 20px;
	float: left;
	width: 45%;
	height: 100%;
	padding-right:0.5%;
	padding-left: 0.5%;
	font-family: calibri, sans-serif;
	-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
			-moz-animation: fadein 5s; /* Firefox < 16 */
			 -ms-animation: fadein 5s; /* Internet Explorer */
				-o-animation: fadein 5s; /* Opera < 12.1 */
					 animation: fadein 5s;
}
#IndexBody{
	margin: auto;
	width: 100%;
	padding: 20px;
}

#IndexOptions {
	padding: 20px;
	margin: 10px;
	border-style: solid;
	border-radius: 12px;
	border-color: var(--LCBlue);
	display: inline-block;
	overflow: auto;
	vertical-align: top;
	height: 300px;
	width: 42%;
	text-align: center;
	font-family: calibri, sans-serif;
	font-weight: 180;
	font-size: 115%;
	-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
			-moz-animation: fadein 5s; /* Firefox < 16 */
			 -ms-animation: fadein 5s; /* Internet Explorer */
				-o-animation: fadein 5s; /* Opera < 12.1 */
					 animation: fadein 5s;
}
	.IndexPage h2{
		font-family: calibri, sans-serif;
		font-weight: normal;
		font-size: 150%;
		font: helvetica;
		-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
				-moz-animation: fadein 5s; /* Firefox < 16 */
				 -ms-animation: fadein 5s; /* Internet Explorer */
					-o-animation: fadein 5s; /* Opera < 12.1 */
						 animation: fadein 5s;
	}
	.IndexPage a:link{
		color: black;
		text-decoration: none;
		font-size: 160%;
		color: #2F5496;
		font-weight: 230;
		font: helvetica;
		letter-spacing: 2px;
	}
	.IndexPage a:visited{
		color: black;
		text-decoration: none;
		font-size: 150%;
	}

 #sitemapsubtitle {
	 margin-left: 20px;
	 margin-right: 20px;
	 color: black;
	 font-size: 25px;
	 font-weight: 335;
	 -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

 #sitemapbody {
	 font-size: 115%;
	 color: #2F5496;
	 -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.sitemaplist {
	margin-left: 20px;
	margin-right: 20px;
	width: 100%;
	table-layout: fixed;
}

.sitemaplist a:link{
	color: #2F5496;
	text-decoration: none;
}

.sitemaplist a:visited{
	color: #2F5496;
	text-decoration: none;
}

.sitemaplist a:hover{
	color: #2F5496;
	text-decoration: none;
}
.sitemaplist a:focus{
	color: #2F5496;
	text-decoration: none;
}
.sitemaplist a:active{
	color: #2F5496;
	text-decoration: none;
}

/* This marks the beginning of divs and classes for footer.inc
----------------------------------------------------------------------------------------------------------*/
#footer {
	position: relative;	
}

#copyrightText {
	text-align: center;
}

#footerMenu {
	text-align: center;
	background-color: white;
	clear: both;
}

.s-m{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 50%);
	text-align: center;
	margin-bottom: 20px;
}

.s-m a{
	display: inline-flex;
	width: 40px;
	height: 40px;
	background: #2D3697;
	color: white;
	margin: 0 6px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	font-size: 22px;
}

.s-m a:hover{
	background: #e67e22;
}

.s-m a i{
	transition: 0.4s all;
}

.s-m a:hover > i{
	transform: scale(1.6) rotate(25deg);
}

.btn{
	border: 1px solid 	#2D3697;
	background: none;
	padding: 8px 17px;
	font-size: 17px;
	font-family: "montserrat";
	cursor: pointer;
	margin: 10px;
	transition: 0.8s;
	position: relative;
	overflow: hidden;
}

.btn1, .btn2, .btn3, .btn4{
	color: 	#2D3697;
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover{
	color: #e67e22;
}

.btn::before{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background: #2D3697;
	z-index: -1;
	transition: 0.8s;
}

.btn1::before, .btn2::before, .btn3::before, .btn4::before{
	top: 0;
	border-radius: 0 0 50% 50%;
}

.btn1:hover::before, .btn2:hover::before, .btn3:hover::before, .btn4:hover:before{
	height: 180%;
}

/* This marks the end of divs and classes for footer.inc
----------------------------------------------------------------------------------------------------------*/

@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {opacity:0;}
    to {opacity:1;}
}
@-o-keyframes fadein { /* Opera */
    from {opacity:0;}
    to {opacity: 1;}
}

@media only screen and (max-width: 320px) {
	#FAQtitle{
		display: none;
		}
	#FAQsubtitle{
		display: none;
		}
	#FAQbody{
		display: none;
		}
	#LeftCol{
		display: none;
		}
	#RightCol {
		display: none;
		}
}
